<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FSDProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coursedatabases">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Course Databse
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Courses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rewardshops">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reward shops
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="useraccs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> useraccs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userprofiles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> userprofiles
            </NavLink>
        </div>

    </nav>
</div>

